body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

button {
  width: 70px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button[type='button'] {
  margin-top: 1rem;
  background-color: #dc3545;
}

button[type='button']:hover {
  background-color: #c82333;
}
